#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  font-family: monospace;
  font-size: 30vmin;
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 10vmin;
  padding: 0 10vmin;

  background-color: salmon;
  color: #fff;

  font-family: monospace;
  font-size: 30vmin;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
